<!-- start content-top -->
<div class="row content-top">
    <div class="col-md-5">
        <img src="~/Images/gympack/pic.png" class="img-responsive" alt="" />
    </div>
    <div class="col-md-7 content_left_text">
        <h3>Lorem ipsum dolor sit!</h3>
        <p>aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
<!-- end content-top -->