<div class="row content_middle_bottom">
    <div class="col-md-4">
        <h3 class="m_2">Our Trainers</h3>
        <div class="course_demo">
            <ul id="flexiselDemo3">
                <li>
                    <img src="~/Images/gympack/pic4.jpg" /><div class="desc">
                        <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                        <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                        <div class="coursel_list">
                            <i class="heart1"> </i>
                            <i class="like"> </i>
                        </div>
                        <div class="coursel_list1">
                            <i class="twt"> </i>
                            <i class="fb"> </i>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <img src="~/Images/gympack/pic5.jpg" /><div class="desc">
                        <h3>Lorem Ipsum<br><span class="m_text">Kik Boxing</span></h3>
                        <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                        <div class="coursel_list">
                            <i class="heart2"> </i>
                            <i class="like1"> </i>
                        </div>
                        <div class="coursel_list1">
                            <i class="twt"> </i>
                            <i class="fb"> </i>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <img src="~/Images/gympack/pic4.jpg" /><div class="desc">
                        <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                        <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                        <div class="coursel_list">
                            <i class="heart2"> </i>
                            <i class="like1"> </i>
                        </div>
                        <div class="coursel_list1">
                            <i class="twt"> </i>
                            <i class="fb"> </i>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <img src="~/Images/gympack/pic5.jpg" /><div class="desc">
                        <h3>Lorem Ipsum<br><span class="m_text">Kik Boxing</span></h3>
                        <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                        <div class="coursel_list">
                            <i class="heart2"> </i>
                            <i class="like1"> </i>
                        </div>
                        <div class="coursel_list1">
                            <i class="twt"> </i>
                            <i class="fb"> </i>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <img src="~/Images/gympack/pic4.jpg" /><div class="desc">
                        <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                        <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                        <div class="coursel_list">
                            <i class="heart2"> </i>
                            <i class="like1"> </i>
                        </div>
                        <div class="coursel_list1">
                            <i class="twt"> </i>
                            <i class="fb"> </i>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
            <script type="text/javascript">
                            $(window).load(function () {
                                $("#flexiselDemo3").flexisel({
                                    visibleItems: 4,
                                    animationSpeed: 1000,
                                    autoPlay: true,
                                    autoPlaySpeed: 3000,
                                    pauseOnHover: true,
                                    enableResponsiveBreakpoints: true,
                                    responsiveBreakpoints: {
                                        portrait: {
                                            changePoint: 480,
                                            visibleItems: 1
                                        },
                                        landscape: {
                                            changePoint: 640,
                                            visibleItems: 2
                                        },
                                        tablet: {
                                            changePoint: 768,
                                            visibleItems: 2
                                        }
                                    }
                                });

                            });
            </script>
            <script type="text/javascript" src="~/Scripts/gympack/jquery.flexisel.js"></script>
        </div>
    </div>
    <div class="col-md-4">
        <h3 class="m_2">Next Events</h3>
        <div class="events">
            <div class="event-top">
                <ul class="event1">
                    <h4>26 April, 2014</h4>
                    <img src="~/Images/gympack/pic.jpg" alt="" />
                </ul>
                <ul class="event1_text">
                    <span class="m_5">h.12.00-h.13.00</span>
                    <h4>Aerobics</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,. </p>
                    <div class="btn2">
                        <a href="#">Reservation</a>
                    </div>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="event-bottom">
                <ul class="event1">
                    <h4>26 April, 2014</h4>
                    <img src="~/Images/gympack/pic.jpg" alt="" />
                </ul>
                <ul class="event1_text">
                    <span class="m_5">h.12.00-h.13.00</span>
                    <h4>Spinning</h4>
                    <p>Lorem ipsum dolor sit amet. </p>
                    <div class="btn2">
                        <a href="#">Reservation</a>
                    </div>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3 class="m_2">From the blog</h3>
        <div class="blog_events">
            <ul class="tab-left1">
                <span class="tab1-img"><img src="~/Images/gympack/pic7.jpg" alt=""></span>
                <div class="tab-text1">
                    <p><a href="#">nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip</a></p>
                    <span class="m_date">25 April, 2014</span>
                </div>
                <div class="clear"></div>
            </ul>
            <ul class="tab-left1">
                <span class="tab1-img"><img src="~/Images/gympack/pic6.jpg" alt=""></span>
                <div class="tab-text1">
                    <p><a href="#">soluta nobis eleifend option congue nihil imperdiet doming id</a></p>
                    <span class="m_date">25 April, 2014</span>
                </div>
                <div class="clear"></div>
            </ul>
            <ul class="tab-last1">
                <span class="tab1-img"><img src="~/Images/gympack/pic8.jpg" alt=""></span>
                <div class="tab-text1">
                    <p><a href="#">quod mazim placerat facer possim assum. Typi non habent</a></p>
                    <span class="m_date">25 April, 2014</span>
                </div>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>