<h3 class="m_2">Gallery</h3>
<div id="ca-container" class="ca-container">
    <div class="ca-wrapper">
        <div class="ca-item ca-item-1">
            <div class="ca-item-main">            
                <div class="ca-icon"><img height="200" src="~/Images/gympack/pic12.jpg"/></div>
                <div class="ca-icon1"><img height="200" src="~/Images/gympack/pic12.jpg" /></div>
            </div>
        </div>
        <div class="ca-item ca-item-2">
            <div class="ca-item-main">
                <div class="ca-icon"><img height="200" src="~/Images/gympack/pic12.jpg" /> </div>
                <div class="ca-icon2"><img height="200" src="~/Images/gympack/pic12.jpg" /> </div>
            </div>
        </div>
        <div class="ca-item ca-item-3">
            <div class="ca-item-main">
                <div class="ca-icon"><img height="200" src="~/Images/gympack/pic12.jpg" /> </div>
                <div class="ca-icon3"><img height="200" src="~/Images/gympack/pic12.jpg" /> </div>
            </div>
        </div>
        <div class="ca-item ca-item-4">
            <div class="ca-item-main">
                <div class="ca-icon"><img height="200" src="~/Images/gympack/pic12.jpg" /> </div>
                <div class="ca-icon4"><img height="200" src="~/Images/gympack/pic12.jpg" /> </div>
            </div>
        </div>
        <div class="ca-item ca-item-5">
            <div class="ca-item-main">
                <div class="ca-icon"><img height="200" src="~/Images/gympack/pic12.jpg" /> </div>
                <div class="ca-icon5"><img height="200" src="~/Images/gympack/pic12.jpg" /> </div>
            </div>
        </div>
        <div class="ca-item ca-item-6">
            <div class="ca-item-main">
                <div class="ca-icon"><img height="200" src="~/Images/gympack/pic12.jpg" /></div>
                <div class="ca-icon6"><img height="200" src="~/Images/gympack/pic12.jpg" /></div>
            </div>
        </div>
        <div class="ca-item ca-item-7">
            <div class="ca-item-main">
                <div class="ca-icon"><img height="200" src="~/Images/gympack/pic12.jpg" /></div>
                <div class="ca-icon7"><img height="200" src="~/Images/gympack/pic12.jpg" /></div>
            </div>
        </div>
        <div class="ca-item ca-item-8">
            <div class="ca-item-main">
                <div class="ca-icon"><img height="200" src="~/Images/gympack/pic12.jpg" /></div>
                <div class="ca-icon"><img height="200" src="~/Images/gympack/pic12.jpg" /></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#ca-container').contentcarousel();
</script>
