 <!-- start header_bottom -->
<div class="header-bottom">
    <div class="container">
        <div class="header-bottom_left">
            <i class="phone"> </i><span>28 88 09 00</span>
        </div>
        <div class="social">
            <ul>
                <li class="facebook"><a href="https://www.facebook.com/pages/Martial-Arts-Academy/910899232258330?fref=ts" target="_blank"><span> </span></a></li>
                <li class="google"><a href="https://plus.google.com/u/0/108691612051316042836/about" target="_blank"><span> </span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- end header_bottom -->