<div class="header">
    <div class="container">
        <div class="header-text">
            <h1>Martial Arts Academy</h1>
            <h2>Bedste valg for fysisk og psykisk træning</h2>
            <p>her er der en paragraf der skal udfyldes og skal tages videre til About siden</p>
            <div class="banner_btn">
                <a href="#">Læs Mere</a>
            </div>
        </div>
        <div class="header-arrow">
            <a href="#menu" class="class scroll"><span> </span></a>
        </div>
    </div>
</div>