<h3 class="m_4">Medlemsskabs Priser</h3>
<div class="members">
    <h4 class="m_3">Til alle nye medlemmer</h4>
    <p>Nu har vi et specielt tilbud til alle de nye medlemmer hos MAA<br/>Ingen opstarts gebyr ved tilmelding</p>
    <div class="btn1">
        <a href="@Url.Action("Prices", "Academy")">Mere</a>
    </div>
</div>
