<h3 class="m_2">Partner</h3>
<ul class="partner">
    <li><img src="~/Images/gympack/p6.png" alt="" /></li>
    <li><img src="~/Images/gympack/p5.png" alt="" /></li>
    <li><img src="~/Images/gympack/p4.png" alt="" /></li>
    <li><img src="~/Images/gympack/p3.png" alt="" /></li>
    <li><img src="~/Images/gympack/p2.png" alt="" /></li>
    <li><img src="~/Images/gympack/p1.png" alt="" /></li>
    <div class="clear"></div>
</ul>